In [21]:
import datetime
import pandas as pd
import yfinance as yf

from func.tide import get_dates

### 収集対象の日

In [22]:
target='2024-12-26'
start, end = get_dates(target)

### 対象銘柄

In [23]:
code = '8306'

### yfinance で１分足のデータを収集

In [3]:
symbol = '%s.T' % code
ticker = yf.Ticker(symbol)

df = ticker.history(period='1d', interval='1m', start=start, end=end)
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-12-26 09:05:00+09:00,1796.5,1803.0,1796.5,1803.0,0,0.0,0.0
2024-12-26 09:06:00+09:00,1802.5,1804.0,1801.5,1803.5,206800,0.0,0.0
2024-12-26 09:07:00+09:00,1803.5,1804.0,1800.0,1800.0,116200,0.0,0.0
2024-12-26 09:08:00+09:00,1801.0,1801.0,1798.5,1798.5,145000,0.0,0.0
2024-12-26 09:09:00+09:00,1798.5,1799.0,1796.5,1796.5,189900,0.0,0.0
...,...,...,...,...,...,...,...
2024-12-26 15:20:00+09:00,1806.0,1806.5,1805.5,1806.5,135600,0.0,0.0
2024-12-26 15:21:00+09:00,1806.5,1806.5,1805.5,1806.0,77700,0.0,0.0
2024-12-26 15:22:00+09:00,1806.0,1806.5,1805.5,1806.5,113100,0.0,0.0
2024-12-26 15:23:00+09:00,1806.5,1808.5,1806.5,1808.5,409300,0.0,0.0
2024-12-26 15:24:00+09:00,1808.0,1809.5,1808.0,1809.0,170600,0.0,0.0

### 時間情報のタイムゾーン部分を削除

In [24]:
name_index = df.index.name
df.index = [ts_jst.tz_localize(None) for ts_jst in df.index]
df.index.name = name_index
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-12-26 09:05:00,1796.5,1803.0,1796.5,1803.0,0,0.0,0.0
2024-12-26 09:06:00,1802.5,1804.0,1801.5,1803.5,206800,0.0,0.0
2024-12-26 09:07:00,1803.5,1804.0,1800.0,1800.0,116200,0.0,0.0
2024-12-26 09:08:00,1801.0,1801.0,1798.5,1798.5,145000,0.0,0.0
2024-12-26 09:09:00,1798.5,1799.0,1796.5,1796.5,189900,0.0,0.0
...,...,...,...,...,...,...,...
2024-12-26 15:20:00,1806.0,1806.5,1805.5,1806.5,135600,0.0,0.0
2024-12-26 15:21:00,1806.5,1806.5,1805.5,1806.0,77700,0.0,0.0
2024-12-26 15:22:00,1806.0,1806.5,1805.5,1806.5,113100,0.0,0.0
2024-12-26 15:23:00,1806.5,1808.5,1806.5,1808.5,409300,0.0,0.0
2024-12-26 15:24:00,1808.0,1809.5,1808.0,1809.0,170600,0.0,0.0

### 前場と後場の間に（なぜか）余分なデータが含まれているので削除

In [19]:
date_str = str(df.index[0].date())
dt_lunch_1 = pd.to_datetime('%s 11:30:00' % date_str)
dt_lunch_2 = pd.to_datetime('%s 12:30:00' % date_str)
df1 = df[df.index <= dt_lunch_1]
df2 = df[dt_lunch_2 <= df.index]
df = pd.concat([df1, df2])
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-12-26 09:05:00,1796.5,1803.0,1796.5,1803.0,0,0.0,0.0
2024-12-26 09:06:00,1802.5,1804.0,1801.5,1803.5,206800,0.0,0.0
2024-12-26 09:07:00,1803.5,1804.0,1800.0,1800.0,116200,0.0,0.0
2024-12-26 09:08:00,1801.0,1801.0,1798.5,1798.5,145000,0.0,0.0
2024-12-26 09:09:00,1798.5,1799.0,1796.5,1796.5,189900,0.0,0.0
...,...,...,...,...,...,...,...
2024-12-26 15:20:00,1806.0,1806.5,1805.5,1806.5,135600,0.0,0.0
2024-12-26 15:21:00,1806.5,1806.5,1805.5,1806.0,77700,0.0,0.0
2024-12-26 15:22:00,1806.0,1806.5,1805.5,1806.5,113100,0.0,0.0
2024-12-26 15:23:00,1806.5,1808.5,1806.5,1808.5,409300,0.0,0.0
2024-12-26 15:24:00,1808.0,1809.5,1808.0,1809.0,170600,0.0,0.0

### 解析用に CSV 形式で src 内に保存

In [25]:
csvfile = 'src/%s_%s.csv' % (code, target)
df.to_csv(csvfile)