# Pandas で ODS ファイルを読み込む

Reference: https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

If path_or_buffer is an OpenDocument format (.odf, .ods, .odt), then odf will be used.

In [1]:
import numpy as np
import pandas as pd

## ODF ファイルを指定

In [6]:
#file_body = '../doe/report_af_7011_001'
#file_body = '../doe/report_af_7203_001'
#file_body = '../doe/report_af_8306_001'
#file_body = '../doe/results-2/report_af_7011_001'
#file_body = '../doe/results-2/report_af_7203_001'
file_body = '../doe/results-2/report_af_8306_001'
file_ods = '%s.ods' % file_body
file_html = '%s.html' % file_body
df = pd.read_excel(file_ods)
df

,#,AF init,AF step,AF max,Mar 19,Mar 21,Mar 24,Mar 25,Mar 26,Total
0,1,0.00050,0.00050,0.0050,1450,3300,-2300,2900,-1550,3800
1,2,0.00045,0.00045,0.0045,1950,2900,-2900,2900,-1750,3100
2,3,0.00040,0.00040,0.0040,950,4400,-200,3000,-450,7700
3,4,0.00035,0.00035,0.0035,-250,2900,-3000,2400,-1650,400
4,5,0.00030,0.00030,0.0030,1250,4600,-2400,3600,-3250,3800
5,6,0.00025,0.00025,0.0025,-450,4100,-3200,1700,-2050,100
6,7,0.00020,0.00020,0.0020,950,3400,-2400,800,-1250,1500
7,8,0.00015,0.00015,0.0015,-1450,6100,-1100,2100,-2350,3300
8,9,0.00010,0.00010,0.0010,-2350,5100,-1800,4100,550,5600
9,10,0.00009,0.00009,0.0009,-2450,8300,-2100,3400,-50,7100
10,11,0.00008,0.00008,0.0008,-2250,7400,-600,2800,-550,6800
11,12,0.00007,0.00007,0.0007,-2550,8500,800,2700,-1450,8000
12,13,0.00006,0.00006,0.0006,-1950,8300,800,1900,-2350,6700
13,14,0.00005,0.00005,0.0005,-3150,9700,1600,700,-3350,5500
14,15,0.00004,0.00004,0.0004,-2250,9700,1200,-100,-750,7800
15,16,0.00003,0.00003,0.0003,-3250,9700,1000,3100,-1150,9400
16,17,0.00002,0.00002,0.0002,-2950,9700,700,2000,-450,9000
17,18,0.00001,0.00001,0.0001,-3750,9700,1000,1800,150,8900

## データフレームを HTML に変換して出力

In [7]:
row_max, col_max = df.shape
list_html = list()

list_html.append('<table class="simple">\n')

list_html.append('<thead>\n')
list_html.append('<tr>\n')
for colhead in df.columns:
    list_html.append('<th nowrap>%s</th>\n' % colhead)
list_html.append('</tr>\n')
list_html.append('</thead>\n')

list_html.append('<tbody>\n')
for r in range(row_max):
    list_html.append('<tr>\n')
    for c in range(col_max):
        v = df.iat[r, c]
        if np.isnan(v):
            list_html.append('<td nowrap style="text-align: right;"></td>\n')
        elif c == 0 or c > 3:
            list_html.append('<td nowrap style="text-align: right;">%d</td>\n' % int(v))
        else: 
            list_html.append('<td nowrap style="text-align: right;">%.5f</td>\n' % v)
    list_html.append('</tr>\n')
list_html.append('</tbody>\n')

list_html.append('</table>\n')

with open(file_html, mode='w') as f:
    f.writelines(list_html)