In [2]:
import pandas as pd

In [6]:
df = pd.DataFrame()
df.index.name = '#'

index_row = 1
for k in [0.0001, 0.001]:
    for r in [1, 5]:
        x1 = k * r
        x2 = x1 * 100
        df.at[index_row, 'af_init'] = 0
        df.at[index_row, 'af_step'] = x1
        df.at[index_row, 'af_max'] = x2

        index_row += 1

df

   af_init  af_step  af_max
#
1      0.0   0.0001    0.01
2      0.0   0.0005    0.05
3      0.0   0.0010    0.10
4      0.0   0.0050    0.50

In [7]:
file_json = 'doe_af_test.json'
df.to_json(file_json)

In [8]:
pd.read_json(file_json)

   af_init  af_step  af_max
1        0   0.0001    0.01
2        0   0.0005    0.05
3        0   0.0010    0.10
4        0   0.0050    0.50