In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame()
df.index.name = '#'

index_row = 1
x0 = 0.00005
mag = 100
for k in range(10):
    x1 = x0 * (1 + k)
    x2 = x1 * mag
    df.at[index_row, 'af_init'] = 0
    df.at[index_row, 'af_step'] = x1
    df.at[index_row, 'af_max'] = x2

    index_row += 1

df

    af_init  af_step  af_max
#
1       0.0  0.00005   0.005
2       0.0  0.00010   0.010
3       0.0  0.00015   0.015
4       0.0  0.00020   0.020
5       0.0  0.00025   0.025
6       0.0  0.00030   0.030
7       0.0  0.00035   0.035
8       0.0  0.00040   0.040
9       0.0  0.00045   0.045
10      0.0  0.00050   0.050

In [5]:
file_json = 'doe_trial_001.json'
df.to_json(file_json)

In [6]:
pd.read_json(file_json)

    af_init  af_step  af_max
1         0  0.00005   0.005
2         0  0.00010   0.010
3         0  0.00015   0.015
4         0  0.00020   0.020
5         0  0.00025   0.025
6         0  0.00030   0.030
7         0  0.00035   0.035
8         0  0.00040   0.040
9         0  0.00045   0.045
10        0  0.00050   0.050