# 過去ログからエントリポイントを研究

### システムパスに一つ上のディレクトリ .. を追加

In [1]:
import sys
sys.path.append('..')

## ライブラリのインポート

In [2]:
import pandas as pd

from funcs.preprocs_no_qt import get_ohlc4analysis

## 過去ログ (OHLC) の読み込み

In [3]:
file_csv = '../ohlc1m/ohlc1m_8306_20250305.csv'
df = pd.read_csv(file_csv)
df

,銘柄名称,市場名称,足種,日付,時刻,始値,高値,安値,終値,出来高,...,H_Low,H_Close,TREND,EP,AF,PSAR,Period,Diff,Slope,IQR
0,三菱ＵＦＪフィナンシャルＧ,東証,1M,2025/03/04,15:30,1932,1932,1932,1932,5010700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,2025/03/05,09:00,1910,1920,1910,1920,3277200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,2025/03/05,09:01,1919,1922.5,1918,1918.5,603600,...,1915.00,1919.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,2025/03/05,09:02,1918.5,1919,1914.5,1917.5,469500,...,1914.50,1917.38,-1.0,1914.5,0.02,1914.5,0.0,0.0,NaN,3.5
4,NaN,NaN,NaN,2025/03/05,09:03,1918,1921,1917.5,1918.5,375000,...,1917.31,1918.75,1.0,1921.0,0.02,1914.5,0.0,0.0,NaN,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,NaN,NaN,NaN,2025/03/05,15:27,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
330,NaN,NaN,NaN,2025/03/05,15:28,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331,NaN,NaN,NaN,2025/03/05,15:29,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
332,NaN,NaN,NaN,2025/03/05,15:30,1927.5,1927.5,1927.5,1927.5,6089900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333,--------,--------,--------,--------,--------,--------,--------,--------,--------,--------,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Matplotlib で扱いやすいように整形

In [4]:
df = get_ohlc4analysis(df)
df

,Open,High,Low,Close,Volume,H_Open,H_High,H_Low,H_Close,TREND,EP,AF,PSAR,Period,Diff,Slope,IQR
2025-03-04 15:30:00,1932,1932,1932,1932,5010700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-03-05 09:00:00,1910,1920,1910,1920,3277200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-03-05 09:01:00,1919,1922.5,1918,1918.5,603600,1915.00,1922.5,1915.00,1919.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-03-05 09:02:00,1918.5,1919,1914.5,1917.5,469500,1917.25,1919.0,1914.50,1917.38,-1.0,1914.5,0.02,1914.5,0.0,0.0,NaN,3.5
2025-03-05 09:03:00,1918,1921,1917.5,1918.5,375000,1917.31,1921.0,1917.31,1918.75,1.0,1921.0,0.02,1914.5,0.0,0.0,NaN,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-03-05 15:26:00,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-03-05 15:27:00,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-03-05 15:28:00,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-03-05 15:29:00,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-03-05 15:30:00,1927.5,1927.5,1927.5,1927.5,6089900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN