# Pandas で ODS ファイルを読み込む

Reference: https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

If path_or_buffer is an OpenDocument format (.odf, .ods, .odt), then odf will be used.

In [1]:
import numpy as np
import pandas as pd

## ODF ファイルを指定

In [6]:
#file_body = '../doe/report_af_7011_001'
#file_body = '../doe/report_af_7203_001'
file_body = '../doe/report_af_8306_001'
file_ods = '%s.ods' % file_body
file_html = '%s.html' % file_body
df = pd.read_excel(file_ods)
df

,#,AF init,AF step,AF max,Mar 17,Mar 18,Mar 19,Mar 21,Mar 24,Mar 25,Total
0,1,0.02000,0.02000,0.2000,-12550,-19000,-11350,-13000,-10400,-9800,-76100
1,2,0.01400,0.01400,0.1400,-8550,-11600,-9350,-8300,-5900,-6700,-50400
2,3,0.00800,0.00800,0.0800,-2650,-5000,-750,-3500,-4000,-3400,-19300
3,4,0.00200,0.00200,0.0200,-4050,600,1850,4800,-2700,-2100,-1600
4,5,0.00140,0.00140,0.0140,-1150,800,2450,2100,-2900,900,2200
5,6,0.00080,0.00080,0.0080,-1750,-600,550,-1000,-3700,1300,-5200
6,7,0.00020,0.00020,0.0020,-2050,5900,950,3400,-2400,800,6600
7,8,0.00014,0.00014,0.0014,-1550,2800,-550,6000,-1100,1200,6800
8,9,0.00008,0.00008,0.0008,-2350,2500,-2250,7400,-600,2800,7500
9,10,0.00002,0.00002,0.0002,550,700,-2950,9700,700,2000,10700

## データフレームを HTML に変換して出力

In [7]:
row_max, col_max = df.shape
list_html = list()

list_html.append('<table class="simple">\n')

list_html.append('<thead>\n')
list_html.append('<tr>\n')
for colhead in df.columns:
    list_html.append('<th nowrap>%s</th>\n' % colhead)
list_html.append('</tr>\n')
list_html.append('</thead>\n')

list_html.append('<tbody>\n')
for r in range(row_max):
    list_html.append('<tr>\n')
    for c in range(col_max):
        v = df.iat[r, c]
        if np.isnan(v):
            list_html.append('<td nowrap style="text-align: right;"></td>\n')
        elif c == 0 or c > 3:
            list_html.append('<td nowrap style="text-align: right;">%d</td>\n' % int(v))
        else: 
            list_html.append('<td nowrap style="text-align: right;">%.5f</td>\n' % v)
    list_html.append('</tr>\n')
list_html.append('</tbody>\n')

list_html.append('</table>\n')

with open(file_html, mode='w') as f:
    f.writelines(list_html)