In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()
df.index.name = '#'

df.at[1, 'af_init'] = 0.0005
df.at[1, 'af_step'] = 0.0005
df.at[1, 'af_max'] = 0.005

df.at[2, 'af_init'] = 0.00045
df.at[2, 'af_step'] = 0.00045
df.at[2, 'af_max'] = 0.0045

df.at[3, 'af_init'] = 0.0004
df.at[3, 'af_step'] = 0.0004
df.at[3, 'af_max'] = 0.004

df.at[4, 'af_init'] = 0.00035
df.at[4, 'af_step'] = 0.00035
df.at[4, 'af_max'] = 0.0035

df.at[5, 'af_init'] = 0.0003
df.at[5, 'af_step'] = 0.0003
df.at[5, 'af_max'] = 0.003

df.at[6, 'af_init'] = 0.00025
df.at[6, 'af_step'] = 0.00025
df.at[6, 'af_max'] = 0.0025

df.at[7, 'af_init'] = 0.0002
df.at[7, 'af_step'] = 0.0002
df.at[7, 'af_max'] = 0.002

df.at[8, 'af_init'] = 0.00015
df.at[8, 'af_step'] = 0.00015
df.at[8, 'af_max'] = 0.0015

df.at[9, 'af_init'] = 0.0001
df.at[9, 'af_step'] = 0.0001
df.at[9, 'af_max'] = 0.001

df.at[10, 'af_init'] = 0.00009
df.at[10, 'af_step'] = 0.00009
df.at[10, 'af_max'] = 0.0009

df.at[11, 'af_init'] = 0.00008
df.at[11, 'af_step'] = 0.00008
df.at[11, 'af_max'] = 0.0008

df.at[12, 'af_init'] = 0.00007
df.at[12, 'af_step'] = 0.00007
df.at[12, 'af_max'] = 0.0007

df.at[13, 'af_init'] = 0.00006
df.at[13, 'af_step'] = 0.00006
df.at[13, 'af_max'] = 0.0006

df.at[14, 'af_init'] = 0.00005
df.at[14, 'af_step'] = 0.00005
df.at[14, 'af_max'] = 0.0005

df.at[15, 'af_init'] = 0.00004
df.at[15, 'af_step'] = 0.00004
df.at[15, 'af_max'] = 0.0004

df.at[16, 'af_init'] = 0.00003
df.at[16, 'af_step'] = 0.00003
df.at[16, 'af_max'] = 0.0003

df.at[17, 'af_init'] = 0.00002
df.at[17, 'af_step'] = 0.00002
df.at[17, 'af_max'] = 0.0002

df.at[18, 'af_init'] = 0.00001
df.at[18, 'af_step'] = 0.00001
df.at[18, 'af_max'] = 0.0001

df

    af_init  af_step  af_max
#
1   0.00050  0.00050  0.0050
2   0.00045  0.00045  0.0045
3   0.00040  0.00040  0.0040
4   0.00035  0.00035  0.0035
5   0.00030  0.00030  0.0030
6   0.00025  0.00025  0.0025
7   0.00020  0.00020  0.0020
8   0.00015  0.00015  0.0015
9   0.00010  0.00010  0.0010
10  0.00009  0.00009  0.0009
11  0.00008  0.00008  0.0008
12  0.00007  0.00007  0.0007
13  0.00006  0.00006  0.0006
14  0.00005  0.00005  0.0005
15  0.00004  0.00004  0.0004
16  0.00003  0.00003  0.0003
17  0.00002  0.00002  0.0002
18  0.00001  0.00001  0.0001

In [5]:
file_json = 'doe_af.json'
df.to_json(file_json)

In [6]:
pd.read_json(file_json)

    af_init  af_step  af_max
1   0.00050  0.00050  0.0050
2   0.00045  0.00045  0.0045
3   0.00040  0.00040  0.0040
4   0.00035  0.00035  0.0035
5   0.00030  0.00030  0.0030
6   0.00025  0.00025  0.0025
7   0.00020  0.00020  0.0020
8   0.00015  0.00015  0.0015
9   0.00010  0.00010  0.0010
10  0.00009  0.00009  0.0009
11  0.00008  0.00008  0.0008
12  0.00007  0.00007  0.0007
13  0.00006  0.00006  0.0006
14  0.00005  0.00005  0.0005
15  0.00004  0.00004  0.0004
16  0.00003  0.00003  0.0003
17  0.00002  0.00002  0.0002
18  0.00001  0.00001  0.0001