# Excelファイルの読み込み

pandas.read_excel()では内部でopenpyxlとxlrdというライブラリを使っているため、あらかじめインストールしておく必要がある。

In [1]:
import sys
sys.path.append('..')

In [2]:
import pandas as pd

from funcs.conv import df_to_html

In [4]:
file_body = '../excel/trader_8306_20250305'
file_excel = '%s.xlsm' % file_body
df = pd.read_excel(file_excel, sheet_name='Transaction')
df

,注文番号,時刻,売買,金額,損益,最大益,最大損,備考
0,1,10:28:01,買建,191800,NaN,NaN,NaN,"建玉, period = 1, slope =1.0, IQR =0.50"
1,1,10:32:01,売埋,191350,-450.0,50,-750,"返済, period = 4"
2,2,15:17:01,売建,192650,NaN,NaN,NaN,"建玉, period = 1, slope =1.0, IQR =1.00"
3,2,15:24:50,買埋,192650,0.0,100,-100,"強制（大引け前）, period = 8"
4,---,---,---,実現損益,-450.0,---,---,---

In [5]:
list_col_format = ['int', 'str', 'str', 'int', 'int', 'int', 'int', 'str']
list_html = df_to_html(df, list_col_format)

file_html = '%s.html' % file_body
with open(file_html, mode='w') as f:
    f.writelines(list_html)