In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()
df.index.name = '#'

df.at[1, 'af_init'] = 0.02
df.at[1, 'af_step'] = 0.02
df.at[1, 'af_max'] = 0.2

df.at[2, 'af_init'] = 0.014
df.at[2, 'af_step'] = 0.014
df.at[2, 'af_max'] = 0.14

df.at[3, 'af_init'] = 0.008
df.at[3, 'af_step'] = 0.008
df.at[3, 'af_max'] = 0.08

df.at[4, 'af_init'] = 0.002
df.at[4, 'af_step'] = 0.002
df.at[4, 'af_max'] = 0.02

df.at[5, 'af_init'] = 0.0014
df.at[5, 'af_step'] = 0.0014
df.at[5, 'af_max'] = 0.014

df.at[6, 'af_init'] = 0.0008
df.at[6, 'af_step'] = 0.0008
df.at[6, 'af_max'] = 0.008

df.at[7, 'af_init'] = 0.0002
df.at[7, 'af_step'] = 0.0002
df.at[7, 'af_max'] = 0.002

df.at[8, 'af_init'] = 0.00014
df.at[8, 'af_step'] = 0.00014
df.at[8, 'af_max'] = 0.0014

df.at[9, 'af_init'] = 0.00008
df.at[9, 'af_step'] = 0.00008
df.at[9, 'af_max'] = 0.0008

df.at[10, 'af_init'] = 0.00002
df.at[10, 'af_step'] = 0.00002
df.at[10, 'af_max'] = 0.0002

df

    af_init  af_step  af_max
#
1   0.02000  0.02000  0.2000
2   0.01400  0.01400  0.1400
3   0.00800  0.00800  0.0800
4   0.00200  0.00200  0.0200
5   0.00140  0.00140  0.0140
6   0.00080  0.00080  0.0080
7   0.00020  0.00020  0.0020
8   0.00014  0.00014  0.0014
9   0.00008  0.00008  0.0008
10  0.00002  0.00002  0.0002

In [5]:
file_json = 'doe_af.json'
df.to_json(file_json)

In [6]:
pd.read_json(file_json)

    af_init  af_step  af_max
1   0.02000  0.02000  0.2000
2   0.01400  0.01400  0.1400
3   0.00800  0.00800  0.0800
4   0.00200  0.00200  0.0200
5   0.00140  0.00140  0.0140
6   0.00080  0.00080  0.0080
7   0.00020  0.00020  0.0020
8   0.00014  0.00014  0.0014
9   0.00008  0.00008  0.0008
10  0.00002  0.00002  0.0002