In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()
df.index.name = '#'

df.at[1, 'af_init'] = 0.02
df.at[1, 'af_step'] = 0.02
df.at[1, 'af_max'] = 0.2
df.at[1, 'factor_losscut'] = 0

df.at[2, 'af_init'] = 0.02
df.at[2, 'af_step'] = 0.02
df.at[2, 'af_max'] = 0.2
df.at[2, 'factor_losscut'] = 10

df.at[3, 'af_init'] = 0.02
df.at[3, 'af_step'] = 0.02
df.at[3, 'af_max'] = 0.2
df.at[3, 'factor_losscut'] = 20

df.at[4, 'af_init'] = 0.02
df.at[4, 'af_step'] = 0.02
df.at[4, 'af_max'] = 0.2
df.at[4, 'factor_losscut'] = 30

df.at[5, 'af_init'] = 0.02
df.at[5, 'af_step'] = 0.02
df.at[5, 'af_max'] = 0.2
df.at[5, 'factor_losscut'] = 40

df.at[6, 'af_init'] = 0.02
df.at[6, 'af_step'] = 0.02
df.at[6, 'af_max'] = 0.2
df.at[6, 'factor_losscut'] = 50

df.at[7, 'af_init'] = 0.002
df.at[7, 'af_step'] = 0.002
df.at[7, 'af_max'] = 0.02
df.at[7, 'factor_losscut'] = 0

df.at[8, 'af_init'] = 0.002
df.at[8, 'af_step'] = 0.002
df.at[8, 'af_max'] = 0.02
df.at[8, 'factor_losscut'] = 10

df.at[9, 'af_init'] = 0.002
df.at[9, 'af_step'] = 0.002
df.at[9, 'af_max'] = 0.02
df.at[9, 'factor_losscut'] = 20

df.at[10, 'af_init'] = 0.002
df.at[10, 'af_step'] = 0.002
df.at[10, 'af_max'] = 0.02
df.at[10, 'factor_losscut'] = 30

df.at[11, 'af_init'] = 0.002
df.at[11, 'af_step'] = 0.002
df.at[11, 'af_max'] = 0.02
df.at[11, 'factor_losscut'] = 40

df.at[12, 'af_init'] = 0.002
df.at[12, 'af_step'] = 0.002
df.at[12, 'af_max'] = 0.02
df.at[12, 'factor_losscut'] = 50

df.at[13, 'af_init'] = 0.0002
df.at[13, 'af_step'] = 0.0002
df.at[13, 'af_max'] = 0.002
df.at[13, 'factor_losscut'] = 0

df.at[14, 'af_init'] = 0.0002
df.at[14, 'af_step'] = 0.0002
df.at[14, 'af_max'] = 0.002
df.at[14, 'factor_losscut'] = 10

df.at[15, 'af_init'] = 0.0002
df.at[15, 'af_step'] = 0.0002
df.at[15, 'af_max'] = 0.002
df.at[15, 'factor_losscut'] = 20

df.at[16, 'af_init'] = 0.0002
df.at[16, 'af_step'] = 0.0002
df.at[16, 'af_max'] = 0.002
df.at[16, 'factor_losscut'] = 30

df.at[17, 'af_init'] = 0.0002
df.at[17, 'af_step'] = 0.0002
df.at[17, 'af_max'] = 0.002
df.at[17, 'factor_losscut'] = 40

df.at[18, 'af_init'] = 0.0002
df.at[18, 'af_step'] = 0.0002
df.at[18, 'af_max'] = 0.002
df.at[18, 'factor_losscut'] = 50

df.at[19, 'af_init'] = 0.00002
df.at[19, 'af_step'] = 0.00002
df.at[19, 'af_max'] = 0.0002
df.at[19, 'factor_losscut'] = 0

df.at[20, 'af_init'] = 0.00002
df.at[20, 'af_step'] = 0.00002
df.at[20, 'af_max'] = 0.0002
df.at[20, 'factor_losscut'] = 10

df.at[21, 'af_init'] = 0.00002
df.at[21, 'af_step'] = 0.00002
df.at[21, 'af_max'] = 0.0002
df.at[21, 'factor_losscut'] = 20

df.at[22, 'af_init'] = 0.00002
df.at[22, 'af_step'] = 0.00002
df.at[22, 'af_max'] = 0.0002
df.at[22, 'factor_losscut'] = 30

df.at[23, 'af_init'] = 0.00002
df.at[23, 'af_step'] = 0.00002
df.at[23, 'af_max'] = 0.0002
df.at[23, 'factor_losscut'] = 40

df.at[24, 'af_init'] = 0.00002
df.at[24, 'af_step'] = 0.00002
df.at[24, 'af_max'] = 0.0002
df.at[24, 'factor_losscut'] = 50

df

    af_init  af_step  af_max  factor_losscut
#
1   0.02000  0.02000  0.2000             0.0
2   0.02000  0.02000  0.2000            10.0
3   0.02000  0.02000  0.2000            20.0
4   0.02000  0.02000  0.2000            30.0
5   0.02000  0.02000  0.2000            40.0
6   0.02000  0.02000  0.2000            50.0
7   0.00200  0.00200  0.0200             0.0
8   0.00200  0.00200  0.0200            10.0
9   0.00200  0.00200  0.0200            20.0
10  0.00200  0.00200  0.0200            30.0
11  0.00200  0.00200  0.0200            40.0
12  0.00200  0.00200  0.0200            50.0
13  0.00020  0.00020  0.0020             0.0
14  0.00020  0.00020  0.0020            10.0
15  0.00020  0.00020  0.0020            20.0
16  0.00020  0.00020  0.0020            30.0
17  0.00020  0.00020  0.0020            40.0
18  0.00020  0.00020  0.0020            50.0
19  0.00002  0.00002  0.0002             0.0
20  0.00002  0.00002  0.0002            10.0
21  0.00002  0.00002  0.0002            20.0
22  0.00002  0.00002  0.0002            30.0
23  0.00002  0.00002  0.0002            40.0
24  0.00002  0.00002  0.0002            50.0

In [3]:
file_json = 'doe_af_losscut.json'
df.to_json(file_json)

In [4]:
pd.read_json(file_json)

    af_init  af_step  af_max  factor_losscut
1   0.02000  0.02000  0.2000               0
2   0.02000  0.02000  0.2000              10
3   0.02000  0.02000  0.2000              20
4   0.02000  0.02000  0.2000              30
5   0.02000  0.02000  0.2000              40
6   0.02000  0.02000  0.2000              50
7   0.00200  0.00200  0.0200               0
8   0.00200  0.00200  0.0200              10
9   0.00200  0.00200  0.0200              20
10  0.00200  0.00200  0.0200              30
11  0.00200  0.00200  0.0200              40
12  0.00200  0.00200  0.0200              50
13  0.00020  0.00020  0.0020               0
14  0.00020  0.00020  0.0020              10
15  0.00020  0.00020  0.0020              20
16  0.00020  0.00020  0.0020              30
17  0.00020  0.00020  0.0020              40
18  0.00020  0.00020  0.0020              50
19  0.00002  0.00002  0.0002               0
20  0.00002  0.00002  0.0002              10
21  0.00002  0.00002  0.0002              20
22  0.00002  0.00002  0.0002              30
23  0.00002  0.00002  0.0002              40
24  0.00002  0.00002  0.0002              50